body{
    display: flex;
    flex-direction: column;
    background-color: rgb(117, 117, 117);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: fit-content;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    width: fit-content;
    margin: 5px;
    font-size: 150px;
    background: -webkit-linear-gradient(45deg, rgb(255, 186, 229), rgb(0, 96, 182));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 500%;
    animation: gradient 10s ease infinite;
}

.pb{
    display: flex;
    flex-direction: row;
}

.pages{
    display: flex;
    flex-direction: column;
}

.home{
    height: 100%;
    width: 500px;
    background: linear-gradient(45deg,rgb(255, 186, 229), rgb(224, 175, 223), rgb(192, 164, 217), rgb(160, 153, 211), rgb(128, 142, 225), rgb(96, 130, 199), rgb(64, 119, 193), rgb(32, 108, 187), rgb(0, 96, 182));
    background-size: 1000% 100%;
    animation: gradient 8s ease infinite;
    color: black;
    font-size: 60px;
    border-width: thick medium thick 10px;
    cursor: pointer;
}

.contact{
    height: 100%;
    width: 500px;
    background: linear-gradient(45deg, rgb(255, 186, 229),rgb(224, 175, 223), rgb(192, 164, 217), rgb(160, 153, 211), rgb(128, 142, 225), rgb(96, 130, 199), rgb(64, 119, 193), rgb(32, 108, 187), rgb(0, 96, 182));
    background-size: 1000% 100%;
    animation: gradient 8s ease infinite;
    animation-delay: 1s;
    color: black;
    font-size: 60px;
    border-width: thick medium thick 10px;
    cursor: pointer;
}

.sm{
    height: 100%;
    width: 500px;
    background: linear-gradient(45deg, rgb(255, 186, 229),rgb(224, 175, 223), rgb(192, 164, 217), rgb(160, 153, 211), rgb(128, 142, 225), rgb(96, 130, 199), rgb(64, 119, 193), rgb(32, 108, 187), rgb(0, 96, 182));
    background-size: 1000% 100%;
    animation: gradient 8s ease infinite;
    animation-delay: 2s;
    color: black;
    font-size: 60px;
    border-width: thick medium thick 10px;
    cursor: pointer;
}

.merch{
    height: 100%;
    width: 500px;
    background: linear-gradient(45deg, rgb(255, 186, 229),rgb(224, 175, 223), rgb(192, 164, 217), rgb(160, 153, 211), rgb(128, 142, 225), rgb(96, 130, 199), rgb(64, 119, 193), rgb(32, 108, 187), rgb(0, 96, 182));
    background-size: 1000% 100%;
    animation: gradient 8s ease infinite;
    animation-delay: 3s;
    color: black;
    font-size: 60px;
    border-width: thick medium thick 10px;
    cursor: pointer;
}

.new{
    height: 100%;
    width: 500px;
    background: linear-gradient(45deg, rgb(255, 186, 229),rgb(224, 175, 223), rgb(192, 164, 217), rgb(160, 153, 211), rgb(128, 142, 225), rgb(96, 130, 199), rgb(64, 119, 193), rgb(32, 108, 187), rgb(0, 96, 182));
    background-size: 1000% 100%;
    animation: gradient 8s ease infinite;
    animation-delay: 4s;
    color: black;
    font-size: 60px;
    border-width: thick medium thick 10px;
    cursor: pointer;
}

.front-img{
    width: 500px;
    display: flex;
    justify-self: flex-start;
}

/*contact*/
.posts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(255, 186, 229);
    font-size: 35px;
    padding-left: 100px;
    width: 100%;
}

h2{
    font-size: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h3{
    padding: 5px;
    margin: 5px;
    width: 80%;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2%;
    font-size: x-large;
}
.oneone{
    display: flex;
    flex-direction: row;
    padding-right: 30%;
}
.one{
    display: flex;
    flex-direction: column;
}

input{
    font-size: x-large;
    margin-bottom: 1%;
    background-color: rgb(250, 175, 175);
}
textarea{
    font-size: x-large;
    background-color: rgb(250, 175, 175);
}
.submi{
    width: 20%;
    height: 10%;
    font-size: 2rem;
    margin-top:  1%;
    margin-bottom: 3%;
    background-color: rgb(250, 175, 175);
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

/*social*/
h5{
    font-size: 75px;
    padding: 5px;
    margin: 5px;
}

h6{
    padding: 5px;
    margin: 5px;
}

.links{
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
ul{
    display: flex;
    flex-direction: column;
    color: transparent;
}
ol{
    display: flex;
    flex-direction: column;
    color:transparent;
}
.spotify{
    height: 100px;
    width: 300px;
    background: linear-gradient(45deg,rgb(255, 186, 229), rgb(224, 175, 223), rgb(192, 164, 217), rgb(160, 153, 211), rgb(128, 142, 225), rgb(96, 130, 199), rgb(64, 119, 193), rgb(32, 108, 187), rgb(0, 96, 182));
    background-size: 1000% 100%;
    animation: gradient 4s ease infinite;
    color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 30px 30px;
    cursor: pointer;
}
.apple{
    height: 100px;
    width: 300px;
    background: linear-gradient(45deg,rgb(255, 186, 229), rgb(224, 175, 223), rgb(192, 164, 217), rgb(160, 153, 211), rgb(128, 142, 225), rgb(96, 130, 199), rgb(64, 119, 193), rgb(32, 108, 187), rgb(0, 96, 182));
    background-size: 1000% 100%;
    animation: gradient 4s ease infinite;
    animation-delay: 1.5s;
    color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 30px 30px;
    cursor: pointer;
}
.youtube{
    height: 100px;
    width: 300px;
    background: linear-gradient(45deg,rgb(255, 186, 229), rgb(224, 175, 223), rgb(192, 164, 217), rgb(160, 153, 211), rgb(128, 142, 225), rgb(96, 130, 199), rgb(64, 119, 193), rgb(32, 108, 187), rgb(0, 96, 182));
    background-size: 1000% 100%;
    animation: gradient 4s ease infinite;
    animation-delay: .5s;
    color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 30px 30px;
    cursor: pointer;
}
.insta{
    height: 100px;
    width: 300px;
    background: linear-gradient(90deg,rgb(255, 186, 229), rgb(224, 175, 223), rgb(192, 164, 217), rgb(160, 153, 211), rgb(128, 142, 225), rgb(96, 130, 199), rgb(64, 119, 193), rgb(32, 108, 187), rgb(0, 96, 182));
    background-size: 1000% 100%;
    animation: gradient 4s ease infinite;
    animation-delay: 1s;
    color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 30px 30px;
    cursor: pointer;
}

.namebox{
    background-color: rgb(255, 186, 229);
    color: rgb(0, 96, 182);
    width: 300px;
    font-size: large;
}

.messagebox{
    background-color: rgb(255, 186, 229);
    color: rgb(0, 96, 182);
    height: 100px;
    width: 300px;
    font-size: large;
}

.emailbox{
    background-color: rgb(255, 186, 229);
    color: rgb(0, 96, 182);
    width: 300px;
    font-size: large;
}

.checkbox{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}
.submit{
    background-color: rgb(255, 186, 229);
    color: rgb(0, 96, 182);
    width: 100px;
}
/*merch*/
.con{
    display: flex;
    flex-direction: row;
}

.cd{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cd0{
    margin: 30px 30px;
    width: auto;
    height: 265px;
}
.cd1{
    margin: 30px 30px;
    width: auto;
    height: 265px;
}
.cd2{
    margin: 30px 30px;
    width: auto;
    height: 265px;
}
.cd3{
    margin: 30px 30px;
    width: auto;
    height: 265px;
}
.cd4{
    margin: 30px 30px;
    width: auto;
    height: 265px;
}
.cd5{
    margin: 30px 30px;
    width: auto;
    height: 265px;
}
/*new*/

.nc{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.a{
    font-size: 50px;
    color: rgb(255, 186, 229);
}
.b{
    font-size: 40px;
    color: rgb(255, 186, 229);
}
.checkmessage{
    font-size: 25px;
    color: rgb(255, 186, 229);
}

@media (orientation: landscape) and (min-width: 50rem){

}