body{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 96, 182);
}

h1{
    font-size: 200px;
    color: rgb(255, 186, 229);
    padding: 0px;
    margin: 0px;
    align-self: center;
}

.pc{
    display: flex;
    flex-direction: row;
}

.pages{
    display: flex;
    flex-direction: column;
}

.home{
    height: 150px;
    width: 510px;
    background-color: rgb(255, 186, 229);
    color: rgb(0, 96, 182);
    font-size: 60px;
    border-width: thick medium thick 10px;
    cursor: pointer;
}

.contact{
    height: 150px;
    width: 510px;
    background-color: rgb(255, 186, 229);
    color: rgb(0, 96, 182);
    font-size: 60px;
    border-width: thick medium thick 10px;
    cursor: pointer;
}

.sm{
    height: 150px;
    width: 510px;
    background-color: rgb(255, 186, 229);
    color: rgb(0, 96, 182);
    font-size: 60px;
    border-width: thick medium thick 10px;
    cursor: pointer;
}

.merch{
    height: 150px;
    width: 510px;
    background-color: rgb(255, 186, 229);
    color: rgb(0, 96, 182);
    font-size: 60px;
    border-width: thick medium thick 10px;
    cursor: pointer;
}

.new{
    height: 150px;
    width: 510px;
    background-color: rgb(255, 186, 229);
    color: rgb(0, 96, 182);
    font-size: 60px;
    border-width: thick medium thick 10px;
    cursor: pointer;
}

fieldset{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(255, 186, 229);
    font-size: 31px;
    padding-left: 50px;
}

legend{
    font-size: 75px;
    padding: 5px;
    margin: 5px;
}

h3{
    padding: 5px;
    margin: 5px;
}

.namebox{
    background-color: rgb(255, 186, 229);
    color: rgb(0, 96, 182);
    width: 300px;
    font-size: large;
}

.messagebox{
    background-color: rgb(255, 186, 229);
    color: rgb(0, 96, 182);
    height: 100px;
    width: 300px;
    font-size: large;
}

.emailbox{
    background-color: rgb(255, 186, 229);
    color: rgb(0, 96, 182);
    width: 300px;
    font-size: large;
}

.checkbox{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}
.submit{
    background-color: rgb(255, 186, 229);
    color: rgb(0, 96, 182);
    width: 100px;
}